@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 300;
  src: url("~@/assets/fonts/iransans/N_IRANSansWeb.woff2") format("woff2");
}
@font-face {
  font-family: iransans;
  font-style: bold;
  font-weight: 700;
  src: url("~@/assets/fonts/iransans/N_IRANSansWeb_Bold.woff2") format("woff2");
  font-display: swap;
}
* {
  font-family: iransans !important;
  direction: rtl;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backColor;
}
#app {
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
