.page-title {
  width: 90%;
  margin: 20px auto;
  border-bottom: 2px solid $shadow;
  & > span {
    border-bottom: 2px solid $red;
    min-width: 98px;
    display: inline-block;
    text-align: center;
    color: $red;
    font-size: 0.9rem;
  }
}
